<section class="bg-dark text-white" id="features">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-12 text-center wow fadeIn">
        <h2 class="text-orange">Features & Details</h2>
        <p class="lead">
          Built for creative people. Made for high performance.
        </p>
      </div>
    </div>
    <div class="row d-md-flex mt-5">
      <div class="col-sm-4 wow fadeIn">
        <h5 class="text-orange">Temperature</h5>
        <p>providing temperature , humidity and moisture real time feedback </p>
        <h5 class="text-orange pt-5">Humidity</h5>
        <p>providing temperature , humidity and moisture real time feedback </p>
        <h5 class="text-orange">Moisture</h5>
        <p>providing temperature , humidity and moisture real time feedback </p>
        <h5 class="text-orange pt-5">real time threat notifications</h5>
        <p>Users will get notified if their plant is being threated by any viruses</p>
      </div>
      <div class="col-sm-4 wow fadeIn">
        <img width="600px" height="600px" src="../../assets/img/shot-3.png" alt="Gallery">
      </div>
    </div>
  </div>
</section>
