<section class="bg-orange" id="download">
  <div class="container">
    <div class="row d-md-flex text-center wow fadeIn">
      <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-xs-12">
        <h2 class="text-primary">Download & get started today!</h2>
        <p class="mt-4 lead">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet.
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet.
        </p>
        <p class="mt-5">
          <a href="#" class="mr-2"><img src="../../assets/img/google-play.png" class="store-img"/></a>
          <a href="#"><img src="../../assets/img/apple_store.png" class="store-img"/> </a>
        </p>
      </div>
    </div>
  </div>
</section>
