<section class="bg-texture hero pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-white wow fadeIn">
        <div class="mt-5 pt-5 d-none d-md-block"></div>
        <h1>Demeter</h1>
        <h2>Protection is better  <span class="text-orange">than </span> cure
        </h2>
        <p class="mt-4 lead">
          Demeter is an agriculuture app that help you keep your plants safe and warn youin case of a threat
        </p>
        <p class="mt-5">
          <a href="#" class="mr-2"><img src="../../assets/img/google-play.png" class="store-img"/></a>
          <a href="#"><img src="../../assets/img/apple_store.png" class="store-img"/> </a>
        </p>
      </div>
      <div class="col-md-6 pt-5 d-none d-md-block wow fadeInRight">
        <img class="img-fluid mx-auto d-block" src="../../assets/img/shot-2.png"/>
      </div>
    </div>
  </div>
</section>
