<section class="bg-white" id="team">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-8 mx-auto text-center">
        <h2 class="text-primary">Our Team</h2>
        <p class="lead">
        </p>
      </div>
    </div>
    <div class="row d-md-flex mt-4 text-center">
      <div class="col-sm-4 mt-2 wow fadeIn">
        <div class="card border-none">
          <div class="card-body">
            <img src="../../assets/img/team-3.jpg" alt="Male" class="img-team img-fluid rounded-circle"/>
            <h5 class="card-title text-primary pt-4">Souha Hammi</h5>
            <p class="card-text"></p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 mt-2 wow fadeIn">
        <div class="card border-none">
          <div class="card-body">
            <img src="../../assets/img/team-2.jpg" alt="Male" class="img-team img-fluid rounded-circle"/>
            <h5 class="card-title text-primary pt-4">Mohamed Ali bel aiba</h5>
            <p class="card-text"></p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 mt-2 wow fadeIn">
        <div class="card border-none">
          <div class="card-body">
            <img src="../../assets/img/team-1.jpg" alt="Male" class="img-team img-fluid rounded-circle"/>
            <h5 class="card-title text-primary pt-4">Ahmed Mediouni</h5>
            <p class="card-text"></p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 mt-2 wow fadeIn">
        <div class="card border-none">
          <div class="card-body">
            <img src="../../assets/img/team-4.jpg" alt="Male" class="img-team img-fluid rounded-circle"/>
            <h5 class="card-title text-primary pt-4">Safouene Chahed</h5>
            <p class="card-text"></p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 mt-2 wow fadeIn">
        <div class="card border-none">
          <div class="card-body">
            <img src="../../assets/img/team-5.jpg" alt="Male" class="img-team img-fluid rounded-circle"/>
            <h5 class="card-title text-primary pt-4">Marwen Hmidy</h5>
            <p class="card-text"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
