<div class="container" id="loged">
  <div class="col-lg-6">
    <div>some words to say the guy is loged in and here he ll access the data stored from the plant</div>
  </div>
  <div class="col-lg-6">
    <div>
      <div class="">
        <div class="">
          <img src="../../assets/img/temp.jpg" class="image" style="width:100%">
          <div class="">
            <div class="text">
              <h4></h4>
              <p><span>{{Temperature}}</span>°C</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="row" >
          <div class="">
            <img src="../../assets/img/Gardeningcan.png" class="image" style="width:100%">
            <div class="">
              <div class="text">
                <h4></h4>
                <p><span>{{Moisture}}</span>%</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="">
            <img src="../../assets/img/drop.png" class="image" style="width:100%">
            <div class="">
              <div class="text">
                <h4></h4>
                <p><span>{{Humidity}}</span>%</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
